<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app='NarrowItDownApp'>
   <div class="container" ng-controller='NarrowItDownController as control1'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="control1.searchTerm">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="control1.narrowSearch();">Narrow It Down For Me!</button>
    </div>

    <!-- Bonus loader (see Bonus section of the assignment) -->
    <!-- <items-loader-indicator></items-loader-indicator> -->
    <!-- <div ng-repeat="item in control1.foundItems">
      <br>
      {{item.description}}
  </div> -->

    <!-- found-items should be implemented as a component -->
    <found-items title="{{control1.title}}" items="control1.foundItems" on-remove="control1.removeItem(index);"></found-items>
 <!-- on-remove="control1.removeItem(index) -->
  </div>

</body>
</html>
